
# Unit test / coverage reports
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Unused Blender Output
*.mtl

# Other files
*.DS_Store
*.idea/
*.log
__pycache__/

# pyenv
.python-version

# Environments
venv/
